<!DOCTYPE html>
<html>
<head>
  <title>Training 1</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1> <%= image_tag("mac.png", :alt => "Mac Pic", :valign => "middle")%> Training 1</h1>
<p/>
<%= yield %>

</body>
</html>
